<h1>Participations:</h1>

<% @participations.each do |participation| %>
<%= link_to participation.game_id, participation_path(participation) %><br/>
<% end %>

<%= link_to "New Player", new_player_path %>
