<p>
    Player ID: <%= @participation.player_id %><br>
    Game ID: <%= @participation.game_id %><br>
    

</p>
    
<%# <%= link_to @participation.first_name, participation_path(@participation) %> %>

<%= link_to "Edit", edit_participation_path %>
