<div class="jumbotron">
	<h1>Teams:</h1>

</div>


<table class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<td></td>

			<% @teams.each do |t| %>
				<th><%= link_to t.team, team_path(t) %></th>	
			<% end %>
		</tr>
	</thead>

	<% for i in 1..6 do %>
		<tr>
			<td>Rank <%=i%></td>
			<% @players_ranked[i].order(:rank).each do |p| %>
				<th><%= link_to p.first_name + " " + p.last_name, player_path(p) %></th>	
			<% end %>
		</tr>
	<%end%>
	
</table>


