<p>
    Court Name: <%= @court.name %><br>
    Address: <%= @court.address %><br>


</p>
    
<%# <%= link_to @participation.first_name, participation_path(@participation) %> 

<%= link_to "Edit", edit_player_path %>
