
<div class="jumbotron">
	<br>
<h1>Games:</h1>
</div>

<div id="calendar"></div>


<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Week Num</th>
      <th scope="col">Court ID</th>
      <th scope="col">Date</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @games.each do |p| %>
        <tr>
            <td><%= p.week_num%></td>
            <td><%= p.court_id%></td>
            <td><%= p.datetime%></td>
        </tr>
    <%end%>
    </tbody>
</table>

<!-- Two columns: 50% width on large and up-->
<div class="row">
  <div class="col-lg">1 of 2</div>
  <div class="col-lg">2 of 2</div>
</div>

<!-- Four columns: 25% width on large and up -->
<div class="row">
  <div class="col-lg">1 of 4</div>
  <div class="col-lg">2 of 4</div>
  <div class="col-lg">3 of 4</div>
  <div class="col-lg">4 of 4</div>
</div>

<%# 
    <%@games.each do |g|%>
		<%# <%= link_to "Week: " + g.week_num.to_s +  " " + g.datetime.strftime("%F") + " at " + g.court.name + " " + g.get_teams[0] + " vs " + g.get_teams[1], game_path(g) %> <br> %>
	<%# <%end%> %> %>

<br><br>
<%#= button_to "New Game", new_game_path %>
