
<div class="jumbotron">
<h1>Games:</h1>
</div>


    <%@games.each do |g|%>
		<%= link_to "Week: " + g.week_num.to_s +  " " + g.datetime.strftime("%F") + " at " + g.court.name + " " + g.get_teams[0] + " vs " + g.get_teams[1], game_path(g) %> <br>
	<%end%>

<br><br>
<%= button_to "New Game", new_game_path %>
