<p>
    Court Id: <%= @game.court_id %><br>
    Date: <%= @game.datetime %><br>
</p>
    
<%# <%= link_to @participation.first_name, participation_path(@participation) %> 

<%= link_to "Edit", edit_game_path %>
